.fill-in{
  width: 75.7%;
  margin-top: 5%;
  margin-bottom: 2.5%;
  .flow-container{
    margin-bottom: 5%;
    .flow-nav{
      display: flex;
      justify-content: center;
      list-style: none;
      padding-left: 0;
      .flow-item{
        color: $doubleopacity;
        padding: 0 6% 1% 6%;
        border-bottom: 6px solid $doubleopacity;
        .flow-content{
          display: flex;
          text-align: center;
          flex-direction: column;
        }
        .fill{
          color: $maincolor;
          font-weight: bold;
        }
      }
      .current{
        border-bottom: 6px solid $maincolor;
      }
    }
  }
  .cart-fill{
    display: flex;
    .buy-list{
      .detail{
        padding: 3% 33%;
        color: $maincolor;
        font-weight: bold;
      }
      th{
        background-color: $backgroundcolor;
        border: none;
      }
      td{
        border: none;
      }
      .top-line{
        border-top: 3px solid $dividedcolor;
      }
      tfoot{
        td{
          font-weight: bold;
        }
      }
    }
    .contact-list{
      .customer{
        padding: 3% 35%;
        font-weight: bold;
        color: $listcolor;
        background-color: $maincolor;
        border-radius: 3px;
      }
      .vform{
        padding: 3%;
        background-color: $backgroundcolor;
      }
      .send{
        .send-btn{
          @include send-btn
        }
        .send-btn:hover{
          background-color: $maincolor;
        }
      }
    }
  }
}