.cart{
  @include pad(){
    margin-top: 20%;
    margin-bottom: 90%;
  }
  @include phone(){
    margin-top: 20%;
    margin-bottom: 68%;
  }
  h3{
    text-align: center;
    color: $maincolor;
    font-weight: bold;
    margin-bottom: 2%;
    padding-bottom: 2%;
    border-bottom: 3px solid $dividedcolor;
  }
  table{
    border-collapse: collapse;
    thead{
      th{
        color: $maincolor;
        background-color: $backgroundcolor;
        border: none;
        @include phone(){
          font-size: 14px;
        }
      }
    }
    tbody{
      td{
        border: none;
      }
      .list-pic{
        height: 100px;
        background-size: cover;
        background-position: center;
        @include pad(){
          height: 80px;
        }
        @include phone(){
          height: 60px;
        }
      }
    }
    tfoot{
      td{
        font-weight: bold;
        border: none;
      }
    }
  }
  .coupon-btn{
    color: $listcolor;
    background-color: $doubleopacity;
    border-radius: 0 3px 3px 0;
  }
  .coupon-btn:hover{
    background-color: $pricecolor;
  }
  .go-pay{
    margin-top: 4.4%;
    padding-bottom: 1%;
    .go-btn{
      @include button
    }
    .go-btn:hover{
      background-color: $maincolor;
    }
  }
  .spin{
    margin-top: 16%;
    margin-bottom: 16%;
    text-align: center;
    .spinner-border{
      width: 60px;
      height: 60px;
    }
  }
  .nothing{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 8%;
    i{
      font-size: 64px;
      color: $maincolor;
    }
    .nothing-content{
      font-weight: bold;
      color: $maincolor;
      margin-top: 3%;
      margin-bottom: 5%;
    }
    .surf-btn{
      @include button
    }
    .surf-btn:hover{
      background-color: $maincolor;
    }
  }
}