// 頁首
marquee{
  background-color: $maincolor;
  position: fixed;
  top: 0;
  z-index: 99;
}
.frontNavbar{
  position: sticky;
  width: 100%;
  padding-left: 12%;
  padding-right: 11%;
  top: 32px;
  z-index: 99;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  .logo{
    @include phone(){
      margin-left: 0;
    }
    img{
      height: 40px;
      @include phone(){
        height: 25px;
      }
    }
  }
  .nav-item{
    .nav-link{
      color: $mainopacity;
      font-weight: bold;
      transition: color 0.1s ease-in;
    }
    .nav-link.active{
      color: $maincolor;
      font-weight: bold;
    }
    .nav-link:hover{
      color: $maincolor;
    }
  }
  .right{
    @include phone(){
      margin-right: 0;
    }
    .nav-link{
      position: relative;
      padding: 0 15px;
      i{
        font-size: 30px;
      }
      .badge{
        position: absolute;
        left: 50%;
      }
    }
  }
}
// 頁尾
footer{
  background-color: $maincolor;
  position: relative;
  .social{
    text-align: center;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
    a{
      font-size: 28px;
      @include phone(){
        font-size: 18px;
      }
    }
  }
  .credit{
    position: absolute;
    top: 39%;
    left: 71%;
    @include pad(){
      top: 10%;
      left: 64%;
    }
    @include phone(){
      top: 12%;
      left: 68%;
    }
    img{
      @include phone(){
        width: 50px;
        height: auto;
      }
    }
  }
  .contact{
    text-align: center;
    @include phone(){
      width: 86%;
    }
    p{
      display: inline-block;
      @include phone(){
        font-size: 12px;
      }
    }
  }
  .copyright{
    text-align: center;
    padding-top: 1.7%;
    padding-bottom: 1%;
    p{
      display: inline-block;
      @include phone(){
        font-size: 12px;
      }
    }
  }
}