//分頁
.page-item{
  .page-link{
    color: $maincolor;
  }
  .page-link:focus{
    outline: 4px solid $gapcolor;
  }
}
.page-item.active{
  .page-link{
    color: $backgroundcolor;
    background-color: $maincolor;
    border-color: $maincolor;
  }
}
//吐司列表
.toast-container{
  z-index: 999;
  top: 4%;
  left: 38.5%;
}
.toast{
  z-index: 9999;
  background-color: #fff;
  .toast-header{
    padding-top: 6%;
    padding-bottom: 6%;
  }
}