//分頁
.page-item{
  .page-link{
    color: $maincolor;
  }
  .page-link:focus{
    outline: 4px solid $gapcolor;
  }
}
.page-item.active{
  .page-link{
    color: $backgroundcolor;
    background-color: $maincolor;
    border-color: $maincolor;
  }
}