$maincolor: #004225;
$mainopacity: #4C7A66;
$doubleopacity:#BDC2BD;
$emphaticcolor: #fff7bc;
$pricecolor: #B95134;
$backgroundcolor: #F8F9FA;
$dividedcolor: #eae6dd;
$gapcolor: #d1d1d1;
$listcolor: #F4F4F4;
$btnborder: #DEE2E6