.category{
  width: 77%;
  margin-top: 8%;
  @include pad(){
    padding: 0;
  }
  @include phone(){
    width: 80%;
  }
  .category-nav{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 97%;
    border-bottom: 3px dotted $dividedcolor;
    @include pad(){
      flex-wrap: wrap;
    }
    .category-list{
      padding-bottom: 1%;
      @include pad(){
        width: 30%;
        text-align: center;
        flex: 1 0 auto;
      }
      .category-link{
        background-color: #fff;
        border: none;
        h6{
          color: $doubleopacity;
          font-weight: bold;
          transition: color 0.1s ease-in;
        }
      }
      .category-link.active{
        h6{
          color: $maincolor;
        }
      }
      .category-link:hover{
        h6{
          color: $mainopacity;
        }
      }
      .category-link.active:hover{
        h6{
          color: $maincolor;
        }
      }
    }
  }
}