.category{
  margin-top: 4%;
  width: 78%;
  @include pad(){

  }
  @include phone(){
    width: 80%;
  }
  .category-nav{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 3px dotted $dividedcolor;
    @include pad(){
      flex-wrap: wrap;
      margin-top: 12%;
    }
    .category-list{
      padding-bottom: 1%;
      @include pad(){
        width: 30%;
        text-align: center;
        flex: 1 0 auto;
      }
      .category-link{
        background-color: #fff;
        border: none;
        .title{
          color: $doubleopacity;
          font-weight: bold;
          transition: color 0.1s ease-in;
          @include phone() {
            font-size: 12px;
          }
        }
      }
      .category-link.active{
        .title{
          color: $maincolor;
        }
      }
      .category-link:hover{
        .title{
          color: $mainopacity;
        }
      }
      .category-link.active:hover{
        .title{
          color: $maincolor;
        }
      }
    }
  }
}