.category{
  margin-top: $space-32;
  margin-bottom: $space-20;

  .category-nav{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @include mobile(){
      grid-template-columns: repeat(2, 1fr);
    }

    .category-list{
      text-align: center;

      .category-link{
        background-color: rbg(255, 255, 255);
        padding: 1em;

        border-radius: $radius-sm;
        border: none;

        &.active{
          background-color: $lightgray;
        }

        @media (hover: hover) and (pointer: fine) {
          &:not(.active):hover{
            .title{
              color: $low-main;
            }
          }
        }

        .title{
          color: $maincolor;
          font-weight: bold;

          transition: color 0.1s ease-in;
        }
      }
    }
  }
}