.item-box{
  margin-top: clamp(6.5rem, 7.5vw + 1rem, 9rem);

  .item-breadcrumb{

    nav{
      @include smallMobile() {
        margin: 3% auto;
      }

      .breadcrumb{
        @include smallMobile() {
          margin: 0;
        }

        .breadcrumb-item{
          font-weight: bold;
          font-size: clamp(1rem, 1vw + .2rem, 1.5rem);

          .item-link{
            color: $maincolor;
            text-decoration: none;

            transition: color .3s ease;

            &:hover {
              color: $low-main;
            }
          }
        }
      }
    }
  }

  .item-content {

    .img-content{

      img{

        border-radius: $radius-md;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;

        @include smallMobile() {
          height: 350px;
        }
      }
    }

    .allContent{
      display: flex;
      flex-direction: column;

      article{
        color: $maincolor;
        width: 100%;
        height: 100%;

        h2{
          padding-bottom: $space-8;
          font-weight: bold;
          border-bottom: 3px solid $lightyellow;
        }

        .description{
          margin-block: $space-12;

          display: flex;
          flex-direction: column;
          gap: $space-4;

          span {
            font-size: $text-sm;
          }

          p {
            display: flex;
            align-items: center;
            gap: $space-2;

            i {
              font-size: .5em;
            }
          }
        }
      }

      .discount{
        color: $maincolor;
        margin-top: $space-8;

        padding-block: $space-8;
        border-top: 3px solid $lightyellow;

        p{
          padding-left: 2%;
          border-left: 3px solid $maincolor;

          span{
            background: linear-gradient(to top, $darkyellow 0%, transparent 80%)
          }
        }
      }

      .addCart{
        display: flex;

        @include smallMobile() {
          display: block;
        }

        .input-group{
          width: 50%;
          margin-right: 8%;

          @include smallMobile() {
            width: 100%;
            margin-bottom: 4%;
          }
        }

        .cart-btn{
          @include smallMobile() {
            width: 100%;
          }
        }
      }
    }
  }

  .tab-container{
    margin-block: $space-32;

    .tab-nav{
      display: flex;
      justify-content: space-evenly;
      border: 3px solid;
      border-color: transparent transparent $lightgray transparent;

      @include smallMobile() {
        padding-left: 0;
      }

      .tab-item{
        padding-block: $space-8;

        .tab-link.active{
          font-weight: bold;
        }

        .buy{
          color: $maincolor;
          border: none;
          font-size: clamp(1.2rem, 1vw + .6rem, 1.8rem);
        }

        .carry{
          color: $maincolor;
          border: none;
          font-size: clamp(1.2rem, 1vw + .6rem, 1.8rem);
        }
      }
    }

    .tab-content{
      width: 100%;
      margin-block: $space-12;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $maincolor;
      background-color: $lightgray;

      @include smallMobile() {
        height: 250px;
      }

      .tabBox{
        padding-block: $space-16;

        text-align: start;
        font-size: clamp(1rem, 1vw + .2rem, 1.5rem);
      }
    }
  }

  .question{
    margin-block: $space-32;

    .words{
      font-size: $text-md;
      width: max-content;

      margin: 0 auto;
      padding-block: $space-6;

      @include mobile(){
        font-size: $text-md;
        margin-left: 0;
      }
      @include smallMobile(){
        font-size: $text-sm;
      }

      span{
        &:first-child {
          font-size: $text-lg;
          padding-right: $space-4;
          color: $maincolor;
        }
      }
    }

    .questionBox{
      display: flex;
      justify-content: center;
      text-align: start;

      .accordion{
        width: 100%;
        --bs-accordion-btn-bg: #eae6dd;
        --bs-accordion-active-color: #004225;
        --bs-accordion-active-bg: rgba(0, 66, 37, .3);

        .accordion-item{
          .accordion-button{
            font-weight: bold;
          }

          .accordion-button:focus{
            outline: none;
            box-shadow: none;
          }

          .accordion-button::after{
            background-image: url(assets/img/icon/plus-lg.svg);
          }

          .accordion-button:not(.collapsed)::after{
            background-image: url(assets/img/icon/dash-lg.svg);
          }
        }
      }
    }
  }

  .onSaleGoods{
    margin-block: $space-32;
    overflow: hidden;

    .words{
      font-size: $text-md;
      width: max-content;

      margin: 0 auto;
      padding-block: $space-6;

      @include mobile(){
        font-size: $text-md;
        margin-left: 0;
      }
      @include smallMobile(){
        font-size: $text-sm;
      }

      span{
        &:first-child {
          font-size: $text-lg;
          padding-right: $space-4;
          color: $maincolor;
        }
      }
    }

    .product-carousel {
      --gap: 3rem;

      @include carousel;

      .product-slide {
        flex: 0 0 calc((100% - var(--gap) * 2) / 3);
        min-width: 0;

        scroll-snap-align: start;
      }
    }
  }
}