.discountModal{
  .modal-body{
    text-align: center;
    img{
      height: 40px;
    }
    hr{
      border-width: 15px;
      border-color: #fff;
      margin: 0;

    }
    span{
      font-size: 24px;
      font-weight: bold;
      background: linear-gradient(to top, $emphaticcolor 0%, transparent 80%)
    }
  }
}
.carousel-fade{
  margin-top: 8.5%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  @include mobile(){
    margin-top: 15%;
  }
  @include smallMobile(){
    margin-top: 20%;
  }
  .carousel-inner{
    width: 83.7%;
    @include mobile(){
      width: 100%;
    }
    img{
      height: 665px;
      object-fit: cover;
      @include mobile(){
        height: 440px;
      }
      @include smallMobile(){
        height: 330px;
      }
    }
    .carousel-caption{
      position: absolute;
      top: 33%;
      @include mobile(){
        top: 28%;
      }
      @include smallMobile(){
        top: 25%;
      }
      .sloganSmall{
        font-size: larger;
        @include smallMobile(){
          font-size: medium;
        }
      }
      .slogan{
        @include smallMobile(){
          display: none;
        }
      }
    }
  }
}
.aboutAs{
  .whyToChoose{
    .skinProblem{
      display: flex;
      margin-top: 4%;
      margin-bottom: 3%;
      @include smallMobile(){
        margin-top: 0;
        margin-bottom: 5%;
      }
      .skinImg{
        text-align: center;
        @include smallMobile(){
          display: none;
        }
        img{
          height: 450px;
          @include mobile(){
            height: 320px;
          }
        }
      }
      .summerSkin{
        border: 2px dashed $maincolor;
        border-radius: 10px;
        align-content: center;
        @include smallMobile(){
          width: 70%;
        }
        .skinText{
          font-size: 20px;
          color: #000;
          font-weight: 400;
          padding: 8%;
          @include mobile(){
            font-size: 16px;
            font-weight: 300;
          }
          span{
            font-size: 30px;
            font-weight: bold;
            color: $maincolor;
            @include mobile(){
              font-size: 24px;
              font-weight: 400;
            }
            @include smallMobile(){
              font-size: 20px;
            }
          }
        }
      }
    }
    .aboutContent{
      padding-top: 5%;
      padding-bottom: 5%;
      display: flex;
      justify-content: center;
      background: linear-gradient(-45deg, #C5E8FE 33%, #FFF6BB 66%);
      .slogan{
        text-align: center;
        width: 60%;
        @include mobile(){
          width: 52%;
        }
        @include smallMobile(){
          width: 80%;
        }
        .aboutTitle{
          font-size: 30px;
          color: $maincolor;
          font-style: italic;
          @include mobile(){
            font-size: 20px;
          }
          @include smallMobile(){
            font-size: 14px;
          }
        }
        .dividedLine{
          border: 2px solid $dividedcolor;
          width: 70%;
          margin: 2% auto;
        }
        .factor{
          span{
            font-size: 18px;
            padding: 1% 2%;
            border: 2.5px solid $dividedcolor ;
            @include smallMobile(){
              font-size: 12px;
            }
          }
        }
        .sloganBig{
          font-size: 30px;
          font-style: italic;
          color: $maincolor;
          @include mobile(){
            font-size: 20px;
          }
          @include smallMobile(){
            font-size: 14px;
          }
          span{
            color: $maincolor;
          }
        }
        .sloganSmall{
          font-size: 24px;
          color: $maincolor;
          margin-top: 5%;
          text-align: left;
          @include smallMobile(){
            font-size: 12px;
          }
        }
        .sloganSmallSec{
          font-size: 24px;
          color: $maincolor;
          text-align: right;
          @include smallMobile(){
            font-size: 12px;
          }
        }
      }
    }
  }
}
.classic{
  @include mobile(){
    text-align: center;
  }
  .words{
    font-size: 24px;
    margin: 3% 0 0 8%;
    @include mobile(){
      font-size: 24px;
      margin-left: 0;
    }
    @include smallMobile(){
      font-size: 20px;
    }
    span{
      font-size: 36px;
      padding-right: 1%;
      color: $maincolor;
      @include smallMobile(){
        font-size: 20px;
      }
    }
  }
  .hotSale{
    width: 85.4%;
    height: 352px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    @include mobile(){
      height: 300px;
    }
    @include smallMobile(){
      height: 280px;
      width: 100%;
    }
  }
}
.new{
  @include mobile(){
    text-align: center;
  }
  .words{
    font-size: 24px;
    margin: 1% 0 0 8%;
    @include mobile(){
      font-size: 24px;
      margin-left: 0;
    }
    @include smallMobile(){
      font-size: 20px;
    }
    span{
      font-size: 36px;
      padding-right: 1%;
      color: $maincolor;
      @include smallMobile(){
        font-size: 20px;
      }
    }
  }
  .newArrival{
    width: 85.4%;
    height: 352px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    @include mobile(){
      height: 300px;
    }
    @include smallMobile(){
      height: 280px;
      width: 100%;
    }
  }
}
.tips{
  background-image: url(assets/img/bg.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  @include smallMobile(){
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .tipsBox{
    padding: 3% 0 1.5% 0;
    .insideBox{
      text-align: center;
      .tipsTitle{
        font-size: 36px;
        margin: 0 15px 0 15px;
        border: 1px dotted white;
        @include mobile(){
          font-size: 20px;
        }
        @include smallMobile(){
          font-size: 18px;
        }
      }
    }
    .tipsBoxBig{
      padding: 0;
      .tipsBoxSmall{
        display: flex;
        margin-bottom: 2%;
        padding: 0;
        @include smallMobile(){
          display: block;
        }
        .tipsBoxText{
          width: 33%;
          margin-right: 2%;
          padding: 1% 5%;
          @include mobile(){
            padding: 1% 0;
          }
          @include smallMobile(){
            width: 100%;
            text-align: center;
          }
          p{
            font-size: 24px;
            margin-top: 5%;
            padding-left: 13px;
            @include mobile(){
              font-size: 18px;
            }
            @include smallMobile(){
              padding-left: 0;
            }
          }
          ul{
            @include smallMobile(){
              padding-left: 22%;
            }
            li{
              @include mobile(){
                font-size: 16px;
              }
              @include smallMobile(){
                text-align: start;
              }
            }
          }
        }
        .final-tips{
          margin-right: 0;
        }
      }
      .sec-tips{
        margin-bottom: 0;
      }
    }
  }
}
.subscribe{
  margin-top: 4%;
  margin-bottom: 4%;
  .subscribe-content{
    @include mobile(){
      text-align: center;
    }
    label{
      font-size: 32px;
      color: $maincolor;
      @include mobile(){
        font-size: 24px;
      }
      @include smallMobile(){
        font-size: 16px
      }
      span{
        background: linear-gradient(to top, $emphaticcolor 0%, transparent 80%)
      }
    }
    .inputBox{
      align-content: center;
      @include mobile(){
        margin-top: 2%;
      }
      input{
        border-radius: 5px 0 0 5px;
      }
      button{
        height: 100%;
      }
      button:hover{
        background-color: $maincolor
      }
      button:not(:hover){
        background-color: $maincolor
      }
    }
  }
}
