.check-out{
  margin-top: 9rem;
  margin-bottom: $space-20;

  @include mobile(){
    width: 100%;
  }

  .flow-container{
    .location{
      color: $maincolor;
      font-weight: bold;
    }
  }

  .gratitude{
    background-image: url(assets/img/bg.jpg);
    background-position: top;
    background-size: cover;

    padding: $space-32 $space-4;

    .glass-box {
      @include glass-box;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $space-14;

      width: fit-content;
      max-width: 100%;

      margin: 0 auto;
      padding: $space-16;
      text-align: center;

      .gratitude-content{

        h2{
          color: $lightgray;
          margin-bottom: $space-8;
          font-size: clamp(1.8rem, 1vw + 1.5rem, 3rem);
        }

        p{
          color: $lightgray;
          font-size: clamp(1rem, 1vw + .2rem, 2rem);
        }
      }

      .backToBuy{

        .surf-btn{
          display: inline-block;
          letter-spacing: .1em;

          @include text-slide-up;
        }
      }
    }
  }

  .payment-list{
    text-align: center;
    font-weight: bold;

    padding: $space-4;
    margin-bottom: $space-6;

    color: $lightgray;
    background-color: $maincolor;

  }

  .checkout-form{
    display: flex;
    gap: $space-12;

    @include tablet(){
      gap: $space-6;
    }

    @include mobile(){
      flex-direction: column;
    }

    .goods-list{

      thead {
        th{
          background-color: $maincolor;
          color: $lightgray;
          border: none;
        }
      }


      td{
        border: none;
      }

      .top-line{
        border-top: 3px solid $lightgray;
      }

      tfoot{
        td{
          font-weight: bold;
        }
      }
    }

    .contact-information{
      .customerBox{
        display: flex;
        justify-content: center;
        background-color: $maincolor;
        padding-block: $space-4;

        .customer{
          font-weight: bold;
          font-size: $text-sm;
          color: $lightgray;
        }
      }

      table{
        th, td{
          padding: $space-4;
          background-color: $lightgray;
        }

        td{
          span{
            font-weight: bold;
          }
        }
      }

      .pay{
        margin-block: $space-6;
      }
    }
  }
}