.fill-in{
  margin-top: 9rem;
  margin-bottom: $space-20;

  @include mobile(){
    width: 100%;
  }

  .flow-container{
    .fill{
      color: $maincolor;
      font-weight: bold;
    }
  }

  .cart-fill{
    display: flex;
    gap: $space-12;

    @include tablet(){
      gap: $space-8;
    }

    @include mobile(){
      flex-direction: column;
    }

    .buy-list{

      .table{

        thead {

          th{
            color: $lightgray;
            background-color: $maincolor;
            border: none;
          }
        }

        tbody {

          td{
            border: none;

            .price-content {
              display: flex;
              align-items: center;
              gap: 0.5rem;

              @include tablet(){
                flex-direction: column;
                align-items: flex-start;
                gap: 0.25rem;
              }

              @include mobile(){
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;
              }

              @include smallMobile(){
                flex-direction: column;
                align-items: flex-start;
                gap: 0.25rem;
              }
            }
          }
        }

        tfoot{
          border-top: 3px solid $lightgray;

          td{
            font-weight: bold;
          }
        }
      }

    }

    .contact-list{

      .customerBox{
        display: flex;
        justify-content: center;
        background-color: $maincolor;
        padding-block: $space-4;

        .customer{
          font-weight: bold;
          font-size: $text-sm;
          color: $lightgray;
        }
      }

      .vform{
        padding: $space-4;
        background-color: $lightgray;

        .send {
          margin-top: $space-6;
        }
      }
    }
  }
}