.fill-in{
  margin-block: $space-32;

  @include smallMobile(){
    width: 100%;
    margin-top: 30%;
  }
  .flow-container{
    margin-bottom: 5%;
    font-size: 24px;
    @include smallMobile(){
      font-size: 14px;
    }
    .flow-nav{
      display: flex;
      justify-content: center;
      list-style: none;
      padding-left: 0;
      .flow-item{
        color: $darkgray;
        flex-grow: 1;
        padding: 0 6% 1% 6%;
        border-bottom: 6px solid rgba(189, 194, 189, .5);
        .flow-content{
          display: flex;
          text-align: center;
          flex-direction: column;
          span{
            @include smallMobile(){
              display: none;
            }
          }
        }
        .fill{
          color: $maincolor;
          font-weight: bold;
        }
      }
      .current{
        border-bottom: 6px solid $maincolor;
      }
    }
  }
  .cart-fill{
    display: flex;
    gap: $space-20;

    @include smallMobile(){
      flex-direction: column;
    }

    .buy-list{

      .table{

        thead {

          th{
            color: contrast-color($maincolor);
            background-color: $maincolor;
            border: none;
          }
        }

        tbody {

          td{
            border: none;
          }
        }

        tfoot{

          td{
            font-weight: bold;
          }
          .top-line{
            border-top: 3px solid $lightgray;
          }
        }
      }

    }

    .contact-list{
      .customerBox{
        display: flex;
        justify-content: center;
        background-color: $maincolor;
        padding-top: 3%;
        padding-bottom: 3%;
        .customer{
          font-weight: bold;
          font-size: large;
          color: $lightgray;
          border-radius: 3px;
        }
      }
      .vform{
        padding: 3%;
        background-color: $lightgray;
      }
    }
  }
}