.cart{
  margin-block: clamp(7rem, 9vw + 1rem, 11.5rem);

  @include smallMobile(){
    width: 100%;
    margin-top: 30%;
  }
  .cartBox{
    padding-left: 1%;
    padding-right: 1%;
    @include smallMobile(){
      padding-left: 5%;
      padding-right: 5%;
    }
    .boxContent{
      padding: 0;

      h3{
        text-align: center;
        color: $maincolor;
        font-weight: bold;
        margin-block: $space-8;
      }
      table{
        border-collapse: collapse;
        thead{
          @include smallMobile(){
            display: none;
          }
          th{
            color: contrast-color($maincolor);
            background-color: $maincolor;
            border: none;
          }
        }
        tbody{
          tr{
            border-bottom: 15px solid #fff;
            @include smallMobile(){
              display: flex;
              flex-direction: column;
              float: right;
            }
            td{
              border: none;
            }
            .blank{
              @include smallMobile(){
                display: none;
              }
            }
            .list-pic{
              height: 100px;
              background-size: cover;
              background-position: center;
              @include smallMobile(){
                margin-top: 4%;
              }
            }
            .list-title{
              padding: 2% 0 1% 0;
            }
            .list-qty{
              @include smallMobile(){
                padding: 0;
              }
            }
            .list-price{
              @include smallMobile(){
                padding: 1% 0 0 0;
              }
              small{
                @include smallMobile(){
                  display: none;
                }
              }
              .text-danger{
                @include smallMobile(){
                  display: none;
                }
              }
            }
            .deleteItem{
              @include smallMobile(){
                padding: 0 0 5% 0;
              }
              .btn{
                @include smallMobile(){
                  width: 100%;
                }
              }
            }
          }
        }
        tfoot{
          .blank{
            @include smallMobile(){
              display: none;
            }
          }
          td{
            font-weight: bold;
            border: none;
          }
          .totalPrice{
            @include smallMobile(){
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }
      .use-coupon{

        .blank{
          @include smallMobile(){
            display: none;
          }
        }
      }

      .go-pay{
        margin-top: 4.4%;
        padding-bottom: 1%;
        .go-btn{
          @include smallMobile(){
            width: 100%;
          }
        }
      }
    }
    .spin{
      margin-top: 16%;
      margin-bottom: 16%;
      text-align: center;
      .spinner-border{
        width: 60px;
        height: 60px;
      }
    }
    .nothing{
      text-align: center;
      padding-top: 10%;
      padding-bottom: 8%;
      i{
        font-size: 64px;
        color: $maincolor;
      }
      .nothing-content{
        font-weight: bold;
        color: $maincolor;
        margin-top: 3%;
        margin-bottom: 5%;
      }
    }
  }
}