.item-content{
  width: 75.5%;
  margin-top:118px;
  .row{
    nav{
      .breadcrumb-item{
        font-weight: bold;
        font-size: large;
        .item-link{
          color: $doubleopacity;
          text-decoration: none;
        }
        .item-link:hover{
          color: $maincolor;
        }
      }
    }
    .img-content{
      img{
        border-radius: 6px;
        width: 100%;
        height: 495px;
        object-fit: cover;
        @include pad(){
          height: 415px;
        }
      }
    }
    .allContent{
      article{
        color: $maincolor;
        h2{
          padding-bottom: 5%;
          font-weight: bold;
          border-bottom: 3px solid $dividedcolor;
        }
        .description{
          margin: 7% auto;
        }
      }
      .discount{
        color: $maincolor;
        margin-top: 8%;
        margin-bottom: 6%;
        padding-top: 5%;
        border-top: 3px solid $dividedcolor;
        p{
          padding-left: 2%;
          border-left: 3px solid $maincolor;
          span{
            @include mark;
          }
        }
      }
      .addCart{
        display: flex;
        .input-group{
          width: 50%;
          margin-right: 8%;
          .num-btn{
            border-radius: 3px;
            border: 1px solid $btnborder;
          }
          .num-btn:hover{
            background-color: $listcolor;
          }
        }
        .cart-btn{
          color: $listcolor;
          background-color: $mainopacity;
          border-radius: 3px;
        }
        .cart-btn:hover{
          background-color: $maincolor;
        }
      }
    }
    .tab-container{
      margin-top: 5%;
      .tab-nav{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        border: 3px solid;
        border-color: transparent transparent $dividedcolor transparent;
        .tab-item{
          padding-bottom: 2%;
          .tab-link.active{
            font-weight: bold;
          }
          .buy{
            color: $maincolor;
            border: none;
          }
          .carry{
            color: $maincolor;
            border: none;
          }
        }
      }
      .tab-content{
        height: 200px;
        width: 100%;
        color: $maincolor;
        background-color: $backgroundcolor;
        padding: 4.5% 25%;
      }
    }
  }
}