.discountModal{
  .modal-body{
    text-align: center;
    img{
      height: 40px;
    }
    hr{
      border-width: 15px;
      border-color: #fff;
      margin: 0;

    }
    span{
      font-size: 24px;
      font-weight: bold;
      @include mark
    }
  }
  .modal-footer{
    .btn{
      @include send-btn
    }
    .btn:hover{
      background-color: $maincolor;
    }
  }
}
.carousel-fade{
  margin-top: 4%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  @include pad(){
    margin-top: 5%;
  }
  @include phone(){
    margin-top: 8%;
  }
  .carousel-inner{
    width: 74.1%;
    @include phone(){
      width: 72.5%;
    }
    img{
      height: 665px;
      object-fit: cover;
      @include pad(){
        height: 360px;
      }
      @include phone(){
        height: 230px;
      }
    }
    .carousel-caption{
      position: absolute;
      top: 37%;
      @include pad(){
        top: 30%;
      }
      @include phone(){
        top: 20%;
      }
    }
  }
}
.aboutAs{
  width: 100%;
  .whyToChoose{
    .skinProblem{
      margin-top: 5%;
      margin-bottom: 3%;
      text-align: center;
      position: relative;
      img{
        height: 500px;
        @include pad(){
          height: 360px;
        }
        @include phone(){
          height: 210px;
        }
      }
      .summerSkin{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 10%;
        left: 51%;
        @include pad(){
          left: 54%;
        }
        .skinText{
          font-size: 18px;
          font-weight: bold;
          color: #000;
          padding: 3%;
          width: 42%;
          border-radius: 10px;
          @include box;
          @include pad(){
            font-size: 12px;
          }
          @include phone(){
            font-size: 8px;
          }
        }
      }
      .winterSkin{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 40%;
        left: 3%;
        @include pad(){
          left: -4%;
        }
        .skinText{
          font-size: 18px;
          font-weight: bold;
          color: #000;
          padding: 3%;
          width: 42%;
          border-radius: 10px;
          @include box;
          @include pad(){
            font-size: 12px;
          }
          @include phone(){
            font-size: 8px;
          }
        }
      }
    }
    .aboutContent{
      padding-top: 5%;
      padding-bottom: 5%;
      display: flex;
      justify-content: center;
      @include box;
      .slogan{
        text-align: center;
        width: 60%;
        @include pad(){
          width: 52%;
        }
        @include phone(){
          width: 80%;
        }
        .aboutTitle{
          font-size: 30px;
          color: $maincolor;
          font-style: italic;
          @include pad(){
            font-size: 20px;
          }
          @include phone(){
            font-size: 14px;
          }
        }
        .dividedLine{
          border: 2px solid $dividedcolor;
          width: 70%;
          margin: 2% auto;
        }
        .factor{
          span{
            font-size: 18px;
            padding: 1% 2%;
            border: 2.5px solid $dividedcolor ;
            @include phone(){
              font-size: 12px;
            }
          }
        }
        .sloganBig{
          font-size: 30px;
          font-style: italic;
          color: $maincolor;
          @include pad(){
            font-size: 20px;
          }
          @include phone(){
            font-size: 14px;
          }
          span{
            color: $maincolor;
          }
        }
        .sloganSmall{
          font-size: 24px;
          color: $maincolor;
          margin-top: 5%;
          text-align: left;
          @include phone(){
            font-size: 12px;
          }
        }
        .sloganSmallSec{
          font-size: 24px;
          color: $maincolor;
          text-align: right;
          @include phone(){
            font-size: 12px;
          }
        }
      }
    }
  }
}
.classic{
  .words{
    margin: 3% 0 0 12.8%;
    @include pad(){
      margin: 3% 0 0 13.5%;
    }
    @include phone(){
      margin: 3% 0 0 14%;
      font-size: 12px;
    }
    span{
      font-size: 36px;
      padding-right: 1%;
      color: $maincolor;
      @include phone(){
        font-size: 12px;
      }
    }
  }
  .hotSale{
    width: 76.4%;
    height: 375px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    @include pad(){
      height: 300px;
    }
    @include phone(){
      height: 240px;
    }
  }
}
.new{
  .words{
    margin: 1% 0 0 12.8%;
    @include pad(){
      margin: 3% 0 0 13.5%;
    }
    @include phone(){
      margin: 3% 0 0 14%;
      font-size: 12px;
    }
    span{
      font-size: 36px;
      padding-right: 1%;
      color: $maincolor;
      @include phone(){
        font-size: 12px;
      }
    }
  }
  .newArrival{
    width: 76.4%;
    height: 375px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    @include pad(){
      height: 300px;
    }
    @include phone(){
      height: 240px;
    }
  }
}
.tips{
  background-image: url(assets/face.jpg);
  overflow: hidden;
  width: 74%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  .tipsBox{
    padding: 3% 0 1.5% 0;
    .insideBox{
      text-align: center;
      .tipsTitle{
        font-size: 36px;
        margin: 0 15px 0 15px;
        border: 1px dotted white;
        @include phone(){
          font-size: 16px;
        }
      }
    }
    .tipsBoxBig{
      padding: 0;
      .tipsBoxSmall{
        display: flex;
        margin-bottom: 2%;
        padding: 0;
        .tipsBoxText{
          width: 33%;
          margin-right: 2%;
          padding: 1% 5%;
          @include pad(){
            padding: 1% 0;
          }
          @include phone(){
            padding: 0;
          }
          p{
            font-size: 24px;
            margin-top: 5%;
            padding-left: 13px;
            @include phone(){
              font-size: 12px;
            }
          }
          ul{
            li{
              @include phone(){
                font-size: 10px;
              }
            }
          }
        }
        .final-tips{
          margin-right: 0;
        }
      }
      .sec-tips{
        margin-bottom: 0;
      }
    }
  }
}
hr{
  border-width: 10px;
  border-color: $gapcolor;
}
.subscribe{
  margin-top: 4%;
  .subscribe-content{
    margin-left: 5.6%;
    margin-right: 4.2%;
    @include pad(){
      margin-left: 8.5%;
    }
    label{
      font-size: 32px;
      color: $maincolor;
      @include pad(){
        font-size: 20px;
      }
      @include phone(){
        font-size: 16px
      }
      span{
        @include mark;
      }
    }
    input{
      border-radius: 5px 0 0 5px;
      width: 83%;
      @include pad(){
        width: 67.5%;
      }
      @include phone(){
        width: 66%;
      }
    }
    button:hover{
      background-color: $maincolor
    }
    button:not(:hover){
      background-color: $maincolor
    }
  }
}
