.container-fluid {
  width: min(100% - 2rem, 1400px);
  height: 100%;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.btn {
  padding: .8em 1.5em;
  color: contrast-color($maincolor);
  background-color: $maincolor;
  border-radius: $radius-sm;

  font-weight: 600;
  font-size: $text-sm;

  transition: color .3s, background-color .3s;

  @media (hover: hover) and (pointer: fine) {
    &:hover{
      color: contrast-color($low-main);
      background-color: $low-main;
    }
  }
}

.sec-btn {
  padding: .8em 1.5em;
  border-radius: $radius-sm;
  border: 1px solid $darkgray;

  color: $txtdark;
  background-color: $lightyellow;

  font-weight: 600;
  font-size: $text-sm;
  transition: background-color .3s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: rgba(234, 230, 221, .6);
    }
  }
}

.product-card{
  text-align: end;

  .card{
    background-color: #f5f4ee;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        cursor: pointer;

        .card-img-top {

          .card-overlay {
            clip-path: circle(150% at 100% 0);
          }

          .more {
            opacity: 1;
          }
        }
      }
    }

    cursor: default;
    border: none;

    .card-img-top{
      aspect-ratio: 4 / 3;
      background-size: cover;
      background-position:center;

      border-radius: $radius-md;

      position: relative;
      overflow: hidden;

      .sale-badge {
        position: absolute;
        top: $space-2;
        left: $space-2;

        background-color: rgb(227, 0, 0);
        color: $txtlight;

        border-radius: $radius-md;

        font-weight: bold;
        font-size: 1rem;
        padding: .5em;
      }

      .card-overlay {
        position: absolute;
        inset: 0;

        background-color: rgba(255, 255, 255, .7);
        clip-path: circle(25% at 100% 0);

        transition: clip-path .6s ease;
      }

      .more {
        position: absolute;
        inset: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        color: $maincolor;
        font-size: clamp(1rem, 1vw + .5rem, 1.8rem);
        font-weight: bold;

        opacity: 0;
        transition: opacity .3s ease .2s;

        pointer-events: none;
      }
    }

    .card-body{
      padding-inline: 0;

      .card-title{
        color: $maincolor;
        margin-bottom: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
          font-size: clamp(1.2rem, 1vw + .25rem, 1.3rem);
          font-weight: bold;
          margin-bottom: 0;
        }

        i{
          font-size: clamp(1.3rem, 1vw + .3rem, 1.4rem);
          color: $maincolor;
        }
      }

      .product-price{
        display: flex;
        justify-content: space-between;
        align-items: end;

        font-size: clamp(1rem, 1vw + .2rem, 1.3rem);

        .del-price{
          opacity: 0.7;
        }
      }
    }
  }
}

// 購物進度條
.flow-container{
  margin-bottom: $space-16;
  font-size: clamp(1.2rem, 1vw + .5rem, 1.8rem);

  .flow-nav{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;

    .flow-item{
      color: $darkgray;
      flex-grow: 1;
      padding-block: $space-4;
      border-bottom: 7px solid rgba(189, 194, 189, .5);

      .flow-content{
        display: flex;
        text-align: center;
        flex-direction: column;

        span{
          @include mobile(){
            display: none;
          }
        }
      }
    }
    .current{
      border-bottom: 7px solid $maincolor;
    }
  }
}