// 頁首
.frontNavbar{
  width: 100%;
  z-index: 99;
  padding-block: 0;

  box-shadow: $shadow-y;
  display: flex;
  flex-direction: column;

  .marquee{
    width: 100%;
    overflow: hidden;
    padding-block: $space-2;

    background-color: $maincolor;
    color: contrast-color($maincolor);

    font-size: clamp(1rem, .5vw + .5rem, 1.5rem);
    font-weight: 600;
    letter-spacing: .1em;

    .marquee-track {
      display: flex;
      width: max-content;
      animation: marquee 40s linear infinite;

      span {
        padding-right: 50rem;
      }
    }
  }

  .container-fluid {

    .logo {
      width: 200px;
      margin-right: $space-8;
    }

    .navbar-nav {
      gap: $space-4;

      .nav-item{

        .nav-link{
          color: $maincolor;
          font-size: clamp(1rem, 1vw + .2rem, 1.5rem);
          font-weight: bold;

          transition: color .3s ease;

          &.active {
            color: $low-main;
          }

          &:hover {
            color: $low-main;
          }
        }
      }
    }

    .right{
      display: flex;
      gap: $space-2;

      .nav-link{
        position: relative;

        i{
          font-size: $text-lg;
        }

        .badge{
          position: absolute;
          left: 50%;
        }
      }
    }
  }
}

// 頁尾
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-4;

  padding-block: $space-4;
  background-color: $maincolor;

  .social {
    padding-block: $space-4;

    .list-inline {
      display: flex;
      justify-content: center;
      gap: $space-8;
      margin-bottom: 0;

      .list-inline-item {
        margin-right: 0;

        a {
          display: flex;
          justify-content: center;
          align-items: center;

          font-size: $text-lg;
          transition: transform .3s;

          @media (hover: hover) and (pointer: fine) {
            &:hover {
              transform: translateY(-$space-2);
            }
          }
        }
      }
    }
  }

  .contact {
    --contact-gap: #{$space-8};

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--contact-gap);

    a, p {
      position: relative;
      margin: 0;

      display: flex;
      gap: $space-2;

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 50%;
        right: calc((var(--contact-gap) / 2) * -1);
        transform: translateY(-50%);

        width: 1.5px;
        height: 1em;
        background-color: $txtlight;
      }
    }
  }

  .credit {
    display: flex;
    gap: $space-4;

    img {
      width: 80px;
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    gap: $space-4;

    p {
      margin: 0;
    }
  }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}