//分頁
.page-item{

  &.active{
    .page-link{
      color: $txtlight;
      background-color: $maincolor;
      border-color: $maincolor;
    }
  }

  .page-link{
    color: $maincolor;

    &:focus{
      outline: 4px solid $lightgray;
    }
  }
}


//吐司列表
.toast-container{
  top: 4%;
  left: 38.5%;
}
.toast{
  background-color: $lightgray;
  .toast-header{
    padding-top: 6%;
    padding-bottom: 6%;
  }
}