//color
$maincolor: #004225;
$low-main: rgba(0, 66, 37, .7);
$txtdark: #282621;
$txtlight: #FFFDF7;
$darkgray:#BDC2BD;
$darkyellow: #fff7bc;
$lightgray: #e9e9e4;
$lightyellow: #eae6dd;

// space
$space-2:.5rem;
$space-4:1rem;
$space-6:1.5rem;
$space-8:2rem;
$space-12:3rem;
$space-14:3.5rem;
$space-16:4rem;
$space-20:5rem;
$space-32:8rem;

//font-size
$text-xs:1rem;
$text-sm:1.25rem;
$text-md:1.5rem;
$text-lg:2rem;
$text-xl:3rem;
$text-2xl:4rem;

// radius
$radius-sm:.5rem;
$radius-md:2rem;
$radius-lg:12.5rem;
$radius-round:999px;